body{
    background-color: lightsteelblue;
}
#quote-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#text, #author{
    font-size: xx-large;
    color: dodgerblue;
    -ms-word-break: break-all;
    word-break: break-all;
  
    /* Non standard for webkit */
    word-break: break-word;
  
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
